<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760127994958-9kifl7p9nh3nhv2rl06d5tc7er0ag594.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760127994958-9kifl7p9nh3nhv2rl06d5tc7er0ag594</string>
	<key>API_KEY</key>
	<string>AIzaSyBeAt7JrFUdZze2nOYqOVkxOkm_1OJ7NgI</string>
	<key>GCM_SENDER_ID</key>
	<string>760127994958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoApp</string>
	<key>PROJECT_ID</key>
	<string>to-do-flutter-c1437</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-flutter-c1437.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760127994958:ios:5c81324c31fd8949ce171f</string>
</dict>
</plist>